body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
    background: #fae1e1;
}

.calculator {
    
    box-sizing: border-box;
    padding: 10px;
    border-style:initial;
    box-shadow: 0 5px 15px rgba(40, 32, 39, 0.4) ;
    border-radius: 10px;
}

#display{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 95%;
    color: blueviolet;
    border-radius: 10px;
    border-color: rgb(33, 144, 41);
    height: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bolder;
    text-align: right;
    padding: 5px;
    box-shadow: 0 5px 15px rgba(40, 32, 39, 0.4) ;

}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
    border-radius: 50%;
    border-color: #333;

}

button {
    height: 50px;
    font-size: 18px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background: rgb(85, 0, 255);
}
#big{
    width: 450%;
}